.sectionHeading {
  margin-bottom: 16px;
}

.sectionHeading > h2 {
  border-bottom: 1px solid #09bc8a;
  margin-bottom: 8px;
  width: fit-content;
}

.sectionProductCards {
  justify-content: space-between;
}

.productCard {
  background: #004346;
  border-radius: 8px;
  position: relative;
  width: 240px;
}

.productCard > img {
  background-color: white;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  border-bottom: 4px solid #09bc8a;
  width: 240px;
  height: 240px;
}

.productCard p {
  font-size: 18px;
  text-align: left;
}

.productCard > p {
  padding: 8px 16px;
  height: 56px;
}

.productCardVolume {
  position: absolute;
  right: 5%;
  top: 5%;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #004346;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.productCardBottom {
  padding: 8px 16px;
  font-weight: 700;
}

.productCardBottom img {
  width: 100px;
  height: fit-content;
}
