body {
  height: 500px;
}

div {
  background-color: #aef;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  height: 50%;
  display: inline;
}

span {
  display: inline-block;
  visibility: hidden;
  background-color: #fcf;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  height: 50%;
}

p {
  width: 200px;
}

button {
  width: 200px;
}
