body {
  height: 500px;
}

div {
  background-color: #aef;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  height: 50%;
}

span {
  background-color: #fcf;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  height: 50%;
}
