.categoriesSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoriesSection > button {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  border-radius: 8px;
  flex-direction: column;
}

.categoriesSection img {
  background-color: #004346;
  width: 160px;
  height: 160px;
  border-radius: 8px 8px 0 0;
}

.categoriesSection p {
  background-color: rgba(0, 67, 70, 0.5);
  width: 100%;
  padding: 8px 0;
  font-size: 16px;
  border-radius: 0px 0px 8px 8px;
}
